*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}


/* header area css start */
header{
    background: url(./images/banner/banner0.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    text-align: right;
    padding: 180px 100px 50px 600px;

}
.header-content h1{
    margin-bottom: 24px;
    font-size: 65px;
    font-weight: 700;
    
}
.header-content p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;

}
.header-btn{
    background: #F15B22;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
/* header area css end */

/* last year css start */
.last-year{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 100px;
}
.img{
    width: 40%;
    height: 600px;
}
.last-year-content{
    width: 40%;
    padding-top: 300px;
}
.last-year-content h2{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 20px;

}
.last-year-content p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 20px;
}
.last-year-content ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 5px;
}
.check-mark{
    color: #16D887;
    font-weight: 700;
}
/* last year css end */

/* my plan area css start */

.my-plan{
    text-align: center;
    margin: 130px;

}
.my-plan h1{
    font-size: 45px;
    font-weight: 700;
    color: #151414;

}
.plan-items{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.single-plan-item{
    margin: auto;
}
.single-plan-item img{
    margin-bottom: 20px;
    
}
.single-plan-item h4{
    margin-bottom: 16px;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}
.single-plan-item p{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}


/* my plan area css end */

/* achievement area css start */
.achievement-title{
    text-align: center;
}
.achievement-title h2{
    font-size: 45px;
    font-weight: 700;
    color: #151414;
}
.achievement{
    display: flex;
    justify-content: space-between;
    padding: 70px 180px;
}
.single-achievement img{
    width: 100%;
}
.single-achievement{
    text-align: center;
}



/* achievement area css end */



/* contact area css start */
.contact-area{
    background: linear-gradient(to right, #F15B22 10%, rgb(240 240 248 / 0%)),
    url(./images/watch.png);
    margin: 100px 180px;
    padding: 40px 450px 60px 40px;
    border-radius: 10px;
}
.contact-area-content{
    text-align: left;
    color: #ffff;
}
.contact-area-content button{
    padding: 15px 25px;
    color: #F15B22;
    background: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
/* contact area css end */

/* footer area css start */
footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 180px;
    background: #151414;
}
.footer-content{
    width: 30%;
}
.subscribe{
    width: 30%;
}

.icon{
    margin-right: 20px;
}
.footer-content h2{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
    margin-bottom: 15px;
}
.footer-content p{
    font-size: 16px;
    color: #F8F8F8;
    font-weight: 400;
    margin-bottom: 15px;
}
.subscribe h4{
    font-size: 25px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 10px;
}
.subscribe input{
    padding: 20px 150px 20px 20px;
    background: #151414;
    border: 1px solid #ffff;
}
.subscribe-btn{
    padding: 15px 25px;
    color: #F15B22;
    background: #ffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

/* footer area css end */